/** @format */

body {
  background-color: #121212;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}
